/*
 * entire page
 */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

body {
  padding-bottom: 15px;
}

/*
 * tooltips
 */

a.tip {
  color: #333;
}

a.tip:hover {
  text-decoration: none;
}

a.tip:after {
  border-bottom: 1px dashed #ccc;
  content: "(?)";
  font-size: .65em;
  position: relative;
  top: -.2em;
}

/*
 * set list
 */

.list-group-item {
  line-height: 20px;
  position: relative;
}

.subset {
  font-size: .7em;
}

/*
 * set symbols
 */
.list-group-item .icon {
  top: 10px;
  right: 15px;
  position: absolute;
  text-align: center;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.list-group-item .ss {
  font-size: 1.5em;
}

/*
 * low-distraction
 */
.low-distraction {
  font-size: .8em;
}

.low-distraction, a.low-distraction, a.low-distraction:active {
  color: #000;
  opacity: .35;
  text-decoration: none;
}

a.low-distraction:hover {
  opacity: 1;
}

/*
 * spinner
 * from https://projects.lukehaas.me/css-loaders/
 */
@keyframes spinner {
	to {transform: rotate(360deg);}
}

.spinner:before {
	content: '';
	box-sizing: border-box;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 20px;
	height: 20px;
	margin-top: -10px;
	margin-left: -10px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-top-color: #07d;
	border-bottom-color: #07d;
	animation: spinner .8s ease infinite;
}

/*
 * miscellaneous
 */

.github {
  text-align: right;
}

.github > a {
  display: inline-block;
}

[v-cloak] {
  display: none;
}
