/*
 * entire page
 */

body, h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", sans-serif;
}

body {
  padding-bottom: 15px;
}

/*
 * tooltips
 */

a.tip {
  color: #333;
}

a.tip:hover {
  text-decoration: none;
}

a.tip:after {
  border-bottom: 1px dashed #ccc;
  content: "(?)";
  color: #333;
  font-size: .65em;
  position: relative;
  top: -.2em;
}

/*
 * release & drop date labels
 */

.label {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  margin-right: .25em;
  font-size: .77em;
  font-weight: normal;
}

.label-danger {
  background-color: #ffdada;
  color: #c83030;
}

.label-warning {
  background-color: #feefb3;
  color: #9f6000;
}

.label-success {
  background-color: #dff2bf;
  color: #4f8a10;
}

.label-primary {
  background-color: #bde5f8;
  color: #00529b;
}

.label-default {
  background-color: #ebebeb;
  color: #666;
}

.label-low-distraction {
  background-color: #fff;
  color: #ddd;
}

/*
 * set list
 */

ul.list-group > li.gray {
  color: #ddd;
}

div.recently-dropped-toggle-container {
  text-align: right;
}

.list-group-item {
  line-height: 20px;
  position: relative;
}

.subset {
  font-size: .7em;
}

/*
 * ban list
 */

.ban-source-toggle-container {
  text-align: left;
}

.ban-source-toggle-container > ul {
  text-align: left;
}

/*
 * set symbols
 */
.list-group-item .icon {
  top: 10px;
  right: 15px;
  position: absolute;
  text-align: center;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}

.list-group-item .ss {
  color: #000;
  font-size: 1.7rem;
}

.list-group--dropped .ss {
  color: #ddd;
}

.list-group-item--upcoming .ss {
  color: #ddd;
}

/*
 * low-distraction
 */
.low-distraction {
  font-size: .8em;
}

.low-distraction, a.low-distraction, a.low-distraction:active {
  color: #000;
  opacity: .35;
  text-decoration: none;
}

a.low-distraction:hover {
  opacity: 1;
}


/*
 * miscellaneous
 */

hr {
  border-top: dashed 1px #ccc;
  color: #999;
  font-size: .8em;
  margin: 2em 0;
}

.github {
  text-align: right;
}

.github > a {
  display: inline-block;
}

[v-cloak] {
  display: none;
}
