<!DOCTYPE html>
<html lang="en">
  <head>
    <title>What's in Standard?</title>
    <meta charset="UTF-8">
    <meta name="description" content="A Magic: The Gathering format describer" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" href="/node_modules/npm-font-open-sans/open-sans.css" type="text/css" />
    <link rel="stylesheet" href="/node_modules/keyrune/css/keyrune.min.css" type="text/css" />
    <link rel="stylesheet" href="/node_modules/bootstrap/dist/css/bootstrap.min.css" media="screen" />

    <link rel="stylesheet" href="css/style.css" media="screen" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#808080">
    <meta name="msapplication-TileColor" content="#2d89ef">
    <meta name="theme-color" content="#ffffff">

    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
         (adsbygoogle = window.adsbygoogle || []).push({
              google_ad_client: "ca-pub-2775839314260416",
              enable_page_level_ads: true
         });
    </script>
  </head>
  <body>
    <div id="vue" class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="mt-5 mb-3 border-bottom">
            <img id="site-icon" src="icon-original.svg">
            <h1>What's in Standard?</h1>
            <div>
              <span class="low-distraction">for</span>
              <span>Magic: The Gathering</span>
              <span class="low-distraction"> / </span>
              <a href="http://standardhearth.com/" class="low-distraction">Hearthstone</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div v-if="false" class="col-md-5">
          <div class="spinner"></div>
        </div>
        <div v-cloak class="col-md-5" id="set-list">
          <div class="recently-dropped-toggle-container">
            <button id="recently-dropped-toggler" href="#" class="btn btn-sm btn-block btn-outline-secondary mb-3" v-on:click.prevent="toggleRecentlyDropped">
              <span v-if="!showRecentlyDropped">show previous round of exits</span>
              <span v-else>hide previous round of exits</span>
            </button>
          </div>
          <div id="recently-dropped" v-if="showRecentlyDropped">
            <div class="card mb-4" v-for="sets in recent(rounds(dropped(sets)))">
              <div class="card-header">
                <div>Sets that exited Standard {{ sets[0].exit_date | relative }}</div>
                <small>On {{ sets[0].exit_date | absolute }}</small>
              </div>
              <ul class="list-group list-group-flush">
                <li v-for="set in sets" class="list-group-item text-muted">
                  <a :href="'https://www.scryfall.com/sets/' + set.code.toLowerCase() + '?utm_source=whatsinstandard'" target="_blank">{{ set.name }}</a>
                  <set-image :code="set.code" />
                </li>
              </ul>
            </div>
          </div>
          <div class="card border border-primary mb-4">
            <div class="card-header bg-primary text-light">
              <a href="https://www.scryfall.com/search?q=format:standard&utm_source=whatsinstandard" target="_blank">All Sets in Standard</a>
            </div>
            <div class="card-body">
              <div class="round card bg-dark text-light" v-for="sets in rounds(standard(sets))">
                <ul class="list-group list-group-flush text-dark">
                  <li class="list-group-item" v-bind:class="{ 'text-black-50 bg-light font-italic': !isReleased(set) }" v-for="set in sets">
                    <div>
                      <a :href="'https://www.scryfall.com/sets/' + set.code.toLowerCase() + '?utm_source=whatsinstandard'" target="_blank">{{ set.name }}</a>
                      <set-image :code="set.code" />
                    </div>
                  </li>
                </ul>
                <div class="card-footer" v-if="sets[0].exit_date">
                  <div class="text-warning">
                    Exiting Standard {{ sets[0].exit_date | relative }}
                  </div>
                  <small>On {{ sets[0].exit_date | absolute }}</small>
                </div>
                <div class="card-footer" v-else>
                  Exiting Standard {{ sets[0].rough_exit_date }}
                  <a v-if="sets[0].code == 'KLD' || sets[0].code == 'AKH' || sets[0].code == 'XLN'" class="tip"
                  v-tippy="{html: '#why', interactive: true, theme: 'light'}"></a>
                  <div id="why" style="display: none" v-tippy-html>
                    <div style="max-width: 50em">
                      In 2014 <i>Wizards</i> experimented with a drastic change that shrunk blocks, killed Core sets, and
                      shortened average set lifetime in Standard.<sup><a
                        target="_blank"
                        href="https://magic.wizards.com/en/articles/archive/mm/metamorphosis"
                      >2</a></sup> The change was reverted in 2017,<sup><a
                        target="_blank"
                        href="https://magic.wizards.com/en/articles/archive/making-magic/metamorphosis-2-0-2017-06-12"
                      >3</a></sup> but the aftershock still affects Standard in the sets it left behind. These sets
                      will drop in unintuitive ways, ending in Q4 2019.
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card mb-4" v-bind:class="{ 'bg-warning': sets[0].exit_date }" v-for="sets in rounds(unreleased(sets))">
            <div class="card-header">
              Upcoming Sets
            </div>
            <ul class="list-group list-group-flush text-dark">
              <li class="list-group-item" v-bind:class="{ 'text-black-50': !isReleased(set) }" v-for="set in sets">
                <div>
                  <a v-if="set.code !== null" :href="'https://www.scryfall.com/sets/' + set.code.toLowerCase() + '?utm_source=whatsinstandard'" target="_blank">{{ set.name }}</a>
                  <span v-if="set.code === null">{{ set.name }}</span>
                  <set-image v-if="set.code !== null" :code="set.code" />
                </div>
                <small v-if="!isReleased(set) && set.enter_date != null">
                  <div>Entering Standard {{ set.enter_date | relative }}</div>
                  <div>(on release: {{ set.enter_date | absolute }})</div>
                </small>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-md-7">
          <h2>What <em>is</em> Standard?</h2>
          <p>
            <a
            target="_blank"
            href="https://magic.wizards.com/en/content/standard-formats-magic-gathering"><b>Standard</b></a>
          is a rotating group of <i>Magic: The Gathering</i> sets. Most sets enter Standard when they're
          released and drop out about twenty-one months later. At any given time, Standard contains between five and
          eight sets.
          </p>
          <p>
          A <b>Standard card</b> is a card printed or reprinted into a set currently in Standard.
          <a v-tippy class="tip"
             title="e.g. As long as Naturalize has a reprint currently in Standard, all previous prints of Naturalize
             are also considered Standard.">
          </a>
          </p>
          <p>
          A <b>Standard deck</b> contains only Standard cards (60+ of them), may have a sideboard
          <a v-tippy class="tip"
            title='A sideboard is an optional second pool of cards past the main deck that cannot be used during
            games, but whose cards can be swapped with those from the main deck between games. It is generally used to
            keep counters to specific deck archetypes available without needing to classify any change as an official deck
            edit.'>
          </a> of up to 15 more Standard cards, and apart from basic lands does not have more than four copies of any
          one card
          <a v-tippy class="tip"
            title="Different prints of the same card count as the same card.">
          </a>.
          </p>
          <h3 class="mt-5">Related sets and formats</h3>
          <p>
          <a
            target="_blank"
            href="https://magic.wizards.com/en/game-info/gameplay/formats/brawl"><b>Brawl</b></a>
          is a format based on Standard—all rotations listed here apply to Brawl—but Brawl has a separate banlist</a>.
          </p>
          <p>
          Not all sets enter Standard upon release. For example, Masters sets and Commander sets do not enter Standard.
          </p>
          <h3 class="mt-5">Banlist</h3>
					<p>Despite being in Standard sets, these cards are explicitly not allowed in Standard decks.</p>
          <p><ul class="list-group">
            <li class="list-group-item">
              <span v-tippy class="icon tip" title="Ixalan (XLN)"><i class="ss ss-xln"></i></span>
              <div>
                <a href="https://scryfall.com/search?q=!“Rampaging Ferocidon” set:XLN&utm_source=whatsinstandard"
                class="cardname" data-card-name="Rampaging Ferocidon" data-card-set="XLN" target="_blank">
                  Rampaging Ferocidon
                </a>
              </div>
              <small>
                Banned for being too effective a shutdown against counters to aggressive red (filling the board with small creatures and gaining life).<sup><a target="_blank" href="https://magic.wizards.com/en/articles/archive/news/january-15-2018-banned-and-restricted-announcement-2018-01-15">1</a></sup>
              </small>
            </li>
          </ul>
          <div class="github mt-4">
            <a target="_blank" href="https://github.com/glacials/whatsinstandard">
              <img src="img/github.png" />
            </a>
          </div>
        </div>
      </div>
    </div>
    <div style="display:none" id="js--card-popup"></div>
    <script src="/node_modules/bootstrap-vue/dist/bootstrap-vue.min.js"></script>
    <script src="/node_modules/moment/moment.js"></script>
    <script src="/node_modules/underscore/underscore-min.js"></script>
    <script src="/node_modules/vue/dist/vue.min.js"></script>
    <script src="/node_modules/vue-tippy/dist/vue-tippy.min.js"></script>

    <script src="/js/app.js"></script>
    <script src="/js/cardpopup.js"></script>
    <script src="/js/service-worker.js"></script>
    <script src="/js/tracking.js"></script>

    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
        ga('create', 'UA-2876079-7', 'auto');
        ga('require', 'displayfeatures');
        ga('send', 'pageview');
    </script>
  </body>
</html>
