# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/


# Web related
lib/generated_plugin_registrant.dart

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

# See https://dart.dev/guides/libraries/private-files
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/key.properties
build/
doc/api/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# macOS
.DS_Store
